<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Modbus_Poll_CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
          <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <Modbus_Poll_CS.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="RegisterQ" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SlaveID" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="StartAddress" serializeAs="String">
                <value>999</value>
            </setting>
        </Modbus_Poll_CS.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=DB-demo.db;Version=3;" providerName="System.Data.SqlClient="/>
  </connectionStrings>
</configuration>